<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Team Name: Brooklyn Nets</title>
 </head>
 <body>
   <h1>The Spurs</h1>
   <h2>Team Name: <%= @team %></h2>
   <h3>Coach: <%= @coach %></h3>
   <h4>Point Guard: <%= @pt %></h4>
   <h5>Shooting Guard: <%= @guard %></h5>
   <h6>Small Forward: <%= @sm %></h6>
   <h6>Power Forward: <%= @pw %></h6>
   <h6>Center: <%= @cntr %></h6>





 </body>
</html>
